/*该文件将会用于以后的每一个项目里*/
@import "./normalize.css";
/*定义css中的变量*/
:root {
	--color-text:#666;
	--color-high-text:#ff5777;
	--color-background:#fff;
	--color-tint:#ff8198;
	--font-size:14px;
	--line-height:1.5;
}

*,
*::before,
*::after {
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body {
	font-family:"Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
	user-select:none;/*禁止用户鼠标在页面上选着文字、图片等*/
	-webkit-tap-highlight-color:transparent;/*webkit是苹果浏览器，tap点击，highlight背景高光,color颜色，颜色用数值调节*/
	background:var(--color-background);
	color:var(--color-text);
	/*rem vw/vh*/
	width:100vw;
}

a {
	color:var(--color-text);
	text-decoration:none;
}

.clear-fix::after {
	clear:both;
	context:'';
	display:block;
	width:0;
	height:0;
	visibility:hidden;/*使标题不可见，visible可见的*/
}

.clear-fix {
	zoom:1;
}

.left {
	float:left;
}

.right {
	float:right;
}
 